@ -0, 0+1, 36 @@ h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-align: center;
}